$font: 'Poppins', sans-serif;
$primary: #F7941D;
$dark: #333333;
$text-color: #424646;
$white: #ffffff;
$white2: #FCFCFC;
$lightgrey: #e2e2e2;
$light: #f0f0f0;
$light2: #FDFBEF;
$red: #B71E43;
$box-shadow: 0px 10px 10px #0000000a;